*{
  margin: 0;
  padding: 0;
}
.nav-container{
  background: #eeebeb;
  padding: 1em;
}
a{
  text-decoration: none;
  color: #333;
  font-size: 20px;
  margin-right: 3em;
}
.nav-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.todo-header{
  font-size: 20px;
  cursor: pointer;
}
.user-form-container{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  background: #777;
  max-width: 600px;
  padding: 2em;

}
.form-header{
  text-align: center;
}
form{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 1em;
}
.user-form-container button{
  width: 80px;

}
.home-page{
  background: red;
  max-width: 600px;
  margin: 100px auto;
}
.home-page input{
  height: 40px;
  font-size: 20px;
}
.home-page h1{
  text-align: center;
}
.todo-field{
  display: flex;
  align-items: center;
  gap: 1%;
}

